#include <Windows.h>

// DLL version information.
VS_VERSION_INFO    VERSIONINFO
FILEVERSION        1,0,0,0
PRODUCTVERSION     1,0,0,0
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS        VS_FF_DEBUG | VS_FF_PRERELEASE
#else
  FILEFLAGS        0
#endif
FILEOS             VOS_NT_WINDOWS32
FILETYPE           VFT_DLL
FILESUBTYPE        VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904e4"
    BEGIN
      VALUE "CompanyName", "meh."
      VALUE "FileDescription", "Mumble Link interface"
      VALUE "FileOpenName", "npMumbleLink"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "InternalName", "npMumbleLink"
      VALUE "LegalCopyright", "Copyright © 2014"
      VALUE "MIMEType", "application/x-mumble-link"
      VALUE "OriginalFilename", "npMumbleLink.dll"
      VALUE "ProductName", "Mumble Link"
      VALUE "ProductVersion", "1.0.0.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1200
  END
END
